body{
    background-image:linear-gradient( to bottom right, rgb(45, 210, 20),rgb(8, 83, 98));
    min-height: 100vh;
}
#email{
    padding: 10px;
    width: 200px;
    margin-left: 55px;
    margin-bottom: 10px;
}
#phoneNumber{
    padding: 10px;
    width: 200px;
    margin-left: 40px;
    margin-top:20px;
}
.heading{
    text-align: center;
    position:absolute;
    left: 170px;
    top: 10px;
    z-index: 5;
}
@media (max-width:700px){
    .form{
        height: 400px;
        width: 700px;
        /* border: 1rem solid black; */
        display: flex;
        justify-content: center;
        margin-top: 40px; 
        position: absolute;
        left: 30px;
        flex-direction: column;
       
    }
}
@media (max-width:900px){
    .form{
        height: 400px;
        width: 700px;
        /* border: 1rem solid black; */
        display: flex;
        justify-content: center;
        margin-top: 40px; 
        position: absolute;
        left: 40px;
        flex-direction: column;
       
    }
}
@media (max-width:1700px){
    .form{
        height: 400px;
        width: 700px;
        /* border: 1rem solid black; */
        display: flex;
        justify-content: center;
        margin-top: 40px; 
        position: absolute;
        left: 30px;
        flex-direction: column;
       
    }
}
